

.Characters{
  
  text-align: center;
}

.character-image{
  display: inline-block;
  margin-right: 3%;
}

.Header{
  text-align: center;
}

.App{
  text-align: center;
  height: auto;
}

.bg-light{
  background-color: #fafafa;
  color: #252525;
}

.bg-dark{
  background-color: black;
  color:white;
}